<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Welcome to the Admin Dashboard</h1>
    <a href="{{ url_for('add_class') }}">Add New Class</a>
    <ul>
        {% for cls in classes %}
            <li>
                COD: {{ cls.course_code }} - Turma: {{ cls.course_class }}
                {{ cls.name }} - Secret Code: {{ cls.secret_code }}
                - Attendance Count: {{ attendance_dict.get((cls.course_code, cls.course_class), 0) }}
                - <a href="{{ url_for('attend', unique_link=cls.unique_link) }}" target="_blank">Attendance Link</a>
                - <a href="{{ url_for('filtered_attendance_data', course_code=cls.course_code, course_class=cls.course_class) }}">View Attendance</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
