{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
      <div class="row">
        {% for cls in classes %}
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card position-relative" id="classCard-{{ cls.id }}">
            <div class="card-header p-3 pt-2 position-relative">
              <button onclick="archiveClass('{{ cls.id }}')" class="btn btn-archive position-absolute top-0 end-0 mt-2 me-2 shadow-dark">
                <i class="material-icons opacity-10">close</i>
              </button>
              <div class="icon icon-lg icon-shape {{ cls.color_class }} shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">{{ cls.icon }}</i>
              </div>
            </div> <!-- Close card-header -->
            <div class="card-body">
              <div class="text-end pt-1">
                <h6 class="text-sm mb-0 text-capitalize">{{ cls.name }}</h6>
                <p class="text-sm">CURSO: {{ cls.course_code }} - TURMA: {{ cls.course_class }}</p>
                <p class="text-sm">SECRET CODE: {{ cls.secret_code }}</p>             
                <button onclick="copyToClipboard('{{ URL_ATTEND }}/{{ cls.unique_link }}')" class="btn btn-sm btn-outline-dark mt-2">Copiar Link Aluno</button>
                <button class="btn btn-sm btn-outline-dark mt-2"><a href="{{ URL_ATTEND_DATA }}/{{ cls.course_code }}/{{ cls.course_class }}">Visualizar marcações</a></button>
                <button onclick="deleteClass('{{ cls.id }}')" class="btn btn-danger">Apagar</button>
              </div>
            </div> <!-- Close card-body -->
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">{{ attendance_dict.get((cls.course_code, cls.course_class), 0) }} </span>marcações</p>
            </div> <!-- Close card-footer -->
          </div> <!-- Close card -->
        </div>
      {% endfor %}       

      {% include 'includes/footer.html' %}
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Adjusted Copy Button Script -->
<script>
  // Copy to Clipboard Function
  function copyToClipboard(text) {
    // Generates the full URL including the domain
    //const fullPath = window.location.origin + text;
    const fullPath = text;

    
    navigator.clipboard.writeText(fullPath).then(function() {
      alert("Full link copied to clipboard");
    }, function(err) {
      console.error('Could not copy text: ', err);
    });
  }

  function archiveClass(classId) {
    fetch('{{ URL_ARCHIVE }}/' + classId, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        // Include CSRF token header if necessary
      },
      body: JSON.stringify({ 'class_id': classId })
    }).then(response => {
      if (response.ok) {
        alert("Turma arquivada com sucesso.");
        window.location.reload(); // Reload the page to reflect changes
      } else {
        alert("Falha ao arquivar turma.");
      }
    });
  }

  function deleteClass(classId) {
    if (confirm('Tem certeza que deseja excluir esta turma e todos os seus registros de frequência? Esta ação não pode ser desfeita.')) {
        fetch(`{{ URL_DELETE }}/${classId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                // Incluir token CSRF se necessário
            },
            // Não é necessário enviar dados no corpo para exclusão por ID
        }).then(response => {
            if (response.ok) {
                alert("Turma e registros de frequência excluídos com sucesso.");
                window.location.reload(); // Recarrega para atualizar a lista
            } else {
                alert("Erro ao excluir turma e registros de frequência.");
            }
        }).catch(error => console.error('Erro:', error));
    }
  }

  
</script>

  

{% endblock javascripts %}
